*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import './popoxakan/variables.scss';
@import './mixin/mixin.scss';
header{
    width: 100%;
    height: 80px;
    background: green;
    
     nav{
        @include flex()
    }
}

main{
    width: 100%;
    height: 200vh;
    background: rgba(128, 128, 128, 0.507);
    .text{
        width: 100%;
        height: 100vh;
        @include flex()
    }
    h2{
        color: $myColor;
    }

    
    p{
        color: $myColor;
    }
    button{
        color: $myColor;
    }
}